body {
    font-family: "Inter", sans-serif;
}

.navbar {
    max-width: 860px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: none;
}

.nav-link {
    text-decoration: none;
    color: #BF7506;
    margin-left: 24px;
    font-size: 16px;
    line-height: 150%;
}

.nav-link.active {
    font-weight: 700;
}